{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="pt-[178px]">
    <div class="w-full h-auto px-[30px] py-5 border-b border-[#d0d8ef] justify-center items-center gap-[30px] inline-flex fixed top-[92px] left-0 bg-white z-[1] w-full h-auto px-[30px] py-5 border-b border-[#d0d8ef] fixed">
    <div class="grow shrink basis-0 flex-col justify-start items-start gap-1.5 inline-flex w-full">
        <div class="self-stretch p-2.5 bg-[#faf9f6] rounded-[10px] border border-[#a6abc6] justify-start items-center gap-2.5 inline-flex w-full">
            <img src="{% static 'property-listing/search.svg' %}" alt="Search" class="w-5 h-5">
            <input type="text" placeholder="คีย์เวิร์ด, สถานที่สำคัญ, จังหวัดฯลฯ"
                   class="grow shrink basis-0 h-[26px] bg-transparent text-[#333] text-base font-normal font-['IBM Plex Sans Thai'] outline-none">
        </div>
    </div>
</div>
    <div class="w-full h-auto inline-flex justify-start items-start gap-4">
        <div class="flex-1 self-stretch p-7 inline-flex flex-col justify-start items-start gap-4">
            <div class="inline-flex justify-start items-center gap-4">
                <div class="justify-start text-blue-700 text-3xl font-bold font-['IBM_Plex_Sans_Thai']">
                    เปรียบเทียบในระแวกนี้
                </div>
                <div>
                    <label>
                        <select class="py-2 bg-stone-50 rounded-lg border border-slate-300 flex items-center gap-4">
                            <option value="5">5 ก.ม</option>
                            <option value="10" selected>10 ก.ม</option>
                            <option value="15">15 ก.ม</option>
                        </select>
                    </label>
                </div>
                <div>
                    <label>
                        <select class="py-2 bg-stone-50 rounded-lg border border-slate-300 flex items-center gap-4">
                            <option value="sell" selected>ขาย</option>
                            <option value="rent">เช่า</option>
                        </select>
                    </label>
                </div>
            </div>

            <div class="self-stretch flex flex-col justify-start items-start gap-8">
                <div class="self-stretch inline-flex justify-start items-center gap-4">
                    <div class="flex-1 inline-flex flex-col justify-start items-start gap-2">
                        <div class="self-stretch inline-flex justify-start items-center gap-4">
                            <div class="flex-1 inline-flex flex-col justify-start items-start gap-2">
                                <div class="self-stretch justify-start"><span class="text-gray-600 text-xl font-medium font-['IBM_Plex_Sans_Thai']">ราคาต่อตารางวา</span><span class="text-blue-700 text-xl font-medium font-['IBM_Plex_Sans_Thai']">ถูก</span><span class="text-gray-600 text-xl font-medium font-['IBM_Plex_Sans_Thai']">ที่สุด</span></div>
                                <div class="self-stretch p-2.5 rounded-[20px] outline outline-1 outline-offset-[-1px] outline-slate-300 inline-flex justify-start items-center gap-4">
                                    <img class="w-36 self-stretch relative rounded-[10px]" src="https://placehold.co/142x121" />
                                    <div class="flex-1 inline-flex flex-col justify-start items-start gap-4">
                                        <div class="self-stretch flex flex-col justify-start items-start gap-2">
                                            <div class="self-stretch h-12 justify-start text-slate-600 text-base font-bold font-['IBM_Plex_Sans_Thai'] underline">ขายบ้านใหม่สไตล์โมเดิร์น วินเทจ เรียบด่วนรามอินทรา เกษตร-นวมินทร์ ซ.นาคนิวาส48 หลัง ม.คริสตัลปาร์ค ชั้น2 พื้นปูไม้สักทุกห้อง</div>
                                            <div class="self-stretch justify-start text-[#2DAB6F] text-base font-bold font-['IBM_Plex_Sans_Thai']">฿12,900,000</div>
                                        </div>
                                        <div class="self-stretch inline-flex justify-start items-center flex-wrap content-center">
                                            <div class="px-2.5 flex justify-start items-center gap-1.5">
                                                <img src="{% static 'property-listing/floor.svg' %}" alt="Floor" class="w-5 h-5">
                                                <div class="justify-start text-gray-600 text-xs font-normal font-['IBM_Plex_Sans_Thai']">2 ชั้น</div>
                                            </div>
                                            <div class="px-2.5 border-l border-r border-gray-600 flex justify-start items-center gap-1.5">
                                                <img src="{% static 'property-listing/bedroom.svg' %}" alt="Bedroom" class="w-5 h-5">
                                                <div class="justify-start text-gray-600 text-xs font-normal font-['IBM_Plex_Sans_Thai']">3 ห้องนอน</div>
                                            </div>
                                            <div class="px-2.5 flex justify-start items-center gap-1.5">
                                                <img src="{% static 'property-listing/bathroom.svg' %}" alt="Bath" class="w-5 h-5">
                                                <div class="justify-start text-gray-600 text-xs font-normal font-['IBM_Plex_Sans_Thai']">3 ห้องน้ำ</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="self-stretch flex flex-col justify-start items-start gap-2">
                            <div class="self-stretch inline-flex justify-start items-center gap-4">
                                <div class="flex-1 pl-5 py-2.5 border-b border-slate-300 inline-flex flex-col justify-start items-start">
                                    <div class="self-stretch justify-start text-gray-600 text-base font-bold font-['IBM_Plex_Sans_Thai']">ราคาต่อตารางวา</div>
                                    <div class="self-stretch justify-start"><span class="text-gray-600 text-base font-normal font-['IBM_Plex_Sans_Thai']">100,000 บาท/ตารางวา - </span><span class="text-blue-700 text-base font-bold font-['IBM_Plex_Sans_Thai']">ถูกกว่า 40,245 บาท</span></div>
                                </div>
                            </div>
                            <div class="self-stretch inline-flex justify-start items-center gap-4">
                                <div class="flex-1 pl-5 py-2.5 border-b border-slate-300 inline-flex flex-col justify-start items-start">
                                    <div class="self-stretch justify-start text-gray-600 text-base font-bold font-['IBM_Plex_Sans_Thai']">สภาพบ้าน</div>
                                    <div class="self-stretch justify-start text-gray-600 text-base font-normal font-['IBM_Plex_Sans_Thai']">มือสอง</div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="flex-1 inline-flex flex-col justify-start items-start gap-2">
                        <div class="self-stretch inline-flex justify-start items-center gap-4">
                            <div class="flex-1 inline-flex flex-col justify-start items-start gap-2">
                                <div class="self-stretch justify-start"><span class="text-gray-600 text-xl font-medium font-['IBM_Plex_Sans_Thai']">ราคาต่อตารางวา</span><span class="text-blue-700 text-xl font-medium font-['IBM_Plex_Sans_Thai']">แพง</span><span class="text-gray-600 text-xl font-medium font-['IBM_Plex_Sans_Thai']">ที่สุด</span></div>
                                <div class="self-stretch p-2.5 rounded-[20px] outline outline-1 outline-offset-[-1px] outline-slate-300 inline-flex justify-start items-center gap-4">
                                    <img class="w-36 self-stretch relative rounded-[10px]" src="https://placehold.co/142x121" />
                                    <div class="flex-1 inline-flex flex-col justify-start items-start gap-4">
                                        <div class="self-stretch flex flex-col justify-start items-start gap-2">
                                            <div class="self-stretch h-12 justify-start text-slate-600 text-base font-bold font-['IBM_Plex_Sans_Thai'] underline">ขายบ้านใหม่สไตล์โมเดิร์น วินเทจ เรียบด่วนรามอินทรา เกษตร-นวมินทร์ ซ.นาคนิวาส48 หลัง ม.คริสตัลปาร์ค ชั้น2 พื้นปูไม้สักทุกห้อง</div>
                                            <div class="self-stretch justify-start text-[#2DAB6F] text-base font-bold font-['IBM_Plex_Sans_Thai']">฿12,900,000</div>
                                        </div>
                                        <div class="self-stretch inline-flex justify-start items-center flex-wrap content-center">
                                            <div class="px-2.5 flex justify-start items-center gap-1.5">
                                                <img src="{% static 'property-listing/floor.svg' %}" alt="Floor" class="w-5 h-5">
                                                <div class="justify-start text-gray-600 text-xs font-normal font-['IBM_Plex_Sans_Thai']">2 ชั้น</div>
                                            </div>
                                            <div class="px-2.5 border-l border-r border-gray-600 flex justify-start items-center gap-1.5">
                                                <img src="{% static 'property-listing/bedroom.svg' %}" alt="Bedroom" class="w-5 h-5">
                                                <div class="justify-start text-gray-600 text-xs font-normal font-['IBM_Plex_Sans_Thai']">3 ห้องนอน</div>
                                            </div>
                                            <div class="px-2.5 flex justify-start items-center gap-1.5">
                                                <img src="{% static 'property-listing/bathroom.svg' %}" alt="Bath" class="w-5 h-5">
                                                <div class="justify-start text-gray-600 text-xs font-normal font-['IBM_Plex_Sans_Thai']">3 ห้องน้ำ</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="self-stretch flex flex-col justify-start items-start gap-2">
                            <div class="self-stretch inline-flex justify-start items-center gap-4">
                                <div class="flex-1 pl-5 py-2.5 border-b border-slate-300 inline-flex flex-col justify-start items-start">
                                    <div class="self-stretch justify-start text-gray-600 text-base font-bold font-['IBM_Plex_Sans_Thai']">ราคาต่อตารางวา</div>
                                    <div class="self-stretch justify-start"><span class="text-gray-600 text-base font-normal font-['IBM_Plex_Sans_Thai']">100,000 บาท/ตารางวา - </span><span class="text-blue-700 text-base font-bold font-['IBM_Plex_Sans_Thai']">ถูกกว่า 40,245 บาท</span></div>
                                </div>
                            </div>
                            <div class="self-stretch inline-flex justify-start items-center gap-4">
                                <div class="flex-1 pl-5 py-2.5 border-b border-slate-300 inline-flex flex-col justify-start items-start">
                                    <div class="self-stretch justify-start text-gray-600 text-base font-bold font-['IBM_Plex_Sans_Thai']">สภาพบ้าน</div>
                                    <div class="self-stretch justify-start text-gray-600 text-base font-normal font-['IBM_Plex_Sans_Thai']">มือสอง</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="self-stretch inline-flex justify-start items-center gap-4">
                    <div class="flex-1 inline-flex flex-col justify-start items-start gap-2">
                        <div class="self-stretch inline-flex justify-start items-center gap-4">
                            <div class="flex-1 inline-flex flex-col justify-start items-start gap-2">
                                <div class="self-stretch justify-start"><span class="text-gray-600 text-xl font-medium font-['IBM_Plex_Sans_Thai']">ราคาต่อตารางวา</span><span class="text-blue-700 text-xl font-medium font-['IBM_Plex_Sans_Thai']">ใกล้เคียง</span><span class="text-gray-600 text-xl font-medium font-['IBM_Plex_Sans_Thai']">ที่สุด</span></div>
                                <div class="self-stretch p-2.5 rounded-[20px] outline outline-1 outline-offset-[-1px] outline-slate-300 inline-flex justify-start items-center gap-4">
                                    <img class="w-36 self-stretch relative rounded-[10px]" src="https://placehold.co/142x121" />
                                    <div class="flex-1 inline-flex flex-col justify-start items-start gap-4">
                                        <div class="self-stretch flex flex-col justify-start items-start gap-2">
                                            <div class="self-stretch h-12 justify-start text-slate-600 text-base font-bold font-['IBM_Plex_Sans_Thai'] underline">ขายบ้านใหม่สไตล์โมเดิร์น วินเทจ เรียบด่วนรามอินทรา เกษตร-นวมินทร์ ซ.นาคนิวาส48 หลัง ม.คริสตัลปาร์ค ชั้น2 พื้นปูไม้สักทุกห้อง</div>
                                            <div class="self-stretch justify-start text-[#2DAB6F] text-base font-bold font-['IBM_Plex_Sans_Thai']">฿12,900,000</div>
                                        </div>
                                        <div class="self-stretch inline-flex justify-start items-center flex-wrap content-center">
                                            <div class="px-2.5 flex justify-start items-center gap-1.5">
                                                <img src="{% static 'property-listing/floor.svg' %}" alt="Floor" class="w-5 h-5">
                                                <div class="justify-start text-gray-600 text-xs font-normal font-['IBM_Plex_Sans_Thai']">2 ชั้น</div>
                                            </div>
                                            <div class="px-2.5 border-l border-r border-gray-600 flex justify-start items-center gap-1.5">
                                                <img src="{% static 'property-listing/bedroom.svg' %}" alt="Bedroom" class="w-5 h-5">
                                                <div class="justify-start text-gray-600 text-xs font-normal font-['IBM_Plex_Sans_Thai']">3 ห้องนอน</div>
                                            </div>
                                            <div class="px-2.5 flex justify-start items-center gap-1.5">
                                                <img src="{% static 'property-listing/bathroom.svg' %}" alt="Bath" class="w-5 h-5">
                                                <div class="justify-start text-gray-600 text-xs font-normal font-['IBM_Plex_Sans_Thai']">3 ห้องน้ำ</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="self-stretch flex flex-col justify-start items-start gap-2">
                            <div class="self-stretch inline-flex justify-start items-center gap-4">
                                <div class="flex-1 pl-5 py-2.5 border-b border-slate-300 inline-flex flex-col justify-start items-start">
                                    <div class="self-stretch justify-start text-gray-600 text-base font-bold font-['IBM_Plex_Sans_Thai']">ราคาต่อตารางวา</div>
                                    <div class="self-stretch justify-start"><span class="text-gray-600 text-base font-normal font-['IBM_Plex_Sans_Thai']">100,000 บาท/ตารางวา - </span><span class="text-blue-700 text-base font-bold font-['IBM_Plex_Sans_Thai']">ถูกกว่า 40,245 บาท</span></div>
                                </div>
                            </div>
                            <div class="self-stretch inline-flex justify-start items-center gap-4">
                                <div class="flex-1 pl-5 py-2.5 border-b border-slate-300 inline-flex flex-col justify-start items-start">
                                    <div class="self-stretch justify-start text-gray-600 text-base font-bold font-['IBM_Plex_Sans_Thai']">สภาพบ้าน</div>
                                    <div class="self-stretch justify-start text-gray-600 text-base font-normal font-['IBM_Plex_Sans_Thai']">มือสอง</div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="flex-1 self-stretch p-2.5 rounded-[10px] border-2 border-dashed border-slate-300 hover:bg-slate-100 hover:border-blue-500 inline-flex flex-col justify-center items-center gap-2.5">
                        <div class="self-stretch flex flex-col justify-start items-center">
                            <img src="{% static 'property-listing/bookmark.svg' %}" alt="Bookmark" class="w-8 h-8">
                            <div class="self-stretch p-2.5 inline-flex justify-center items-center gap-2.5">
                                <div class="justify-start text-gray-600 text-base font-normal font-['IBM_Plex_Sans_Thai']">เลือกบ้านในบุ๊คมาร์กของคุณมาเปรียบเทียบ</div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>

        <div class="w-[494px] self-stretch px-4 py-7 border-l border-slate-300 inline-flex flex-col justify-start items-center gap-4">
            <div class="self-stretch text-center justify-start text-blue-700 text-3xl font-bold font-['IBM_Plex_Sans_Thai']">ตัวเปรียบเทียบหลัก</div>
            <div class="self-stretch flex flex-col justify-start items-start gap-2">
                <div class="self-stretch p-5 rounded-[10px] outline outline-1 outline-offset-[-1px] outline-slate-300 flex flex-col justify-start items-start gap-6">

                    <div class="flex items-start gap-2">
                        <!-- Main Image -->
                        <div class="relative flex-shrink-0 w-2/3 h-full">
                            <img class="w-full h-full object-cover" src="https://placehold.co/261x222" />
                        </div>

                        <!-- Small Images -->
                        <div class="flex flex-col gap-2 w-full h-full">
                            <img class="w-full h-1/2 object-cover" src="https://placehold.co/144x107" />
                            <img class="w-full h-1/2 object-cover" src="https://placehold.co/144x107" />
                        </div>
                    </div>

                    <div class="self-stretch flex flex-col justify-start items-start gap-4">
                        <div class="self-stretch flex flex-col justify-start items-start gap-4">
                            <div class="self-stretch inline-flex justify-between items-center">
                                <div class="w-96 justify-start text-slate-600 text-base font-bold font-['IBM_Plex_Sans_Thai'] underline">ขายบ้านใหม่สไตล์โมเดิร์น วินเทจ เรียบด่วนรามอินทรา เกษตร-นวมินทร์ ซ.นาคนิวาส48 หลัง ม.คริสตัลปาร์ค ชั้น2 พื้นปูไม้สักทุกห้อง</div>
                            </div>
                            <div class="inline-flex justify-start items-center">
                                <div class="px-2.5 border-r border-gray-600 flex justify-start items-center gap-1.5">
                                    <img src="{% static 'property-listing/area.svg' %}" alt="Area" class="w-5 h-5">
                                    <div class="justify-start text-gray-600 text-xs font-normal font-['IBM_Plex_Sans_Thai']">80 ตร.ว.</div>
                                </div>
                                <div class="px-2.5 flex justify-start items-center gap-1.5">
                                    <img src="{% static 'property-listing/floor.svg' %}" alt="Floor" class="w-5 h-5">
                                    <div class="justify-start text-gray-600 text-xs font-normal font-['IBM_Plex_Sans_Thai']">2 ชั้น</div>
                                </div>
                                <div class="px-2.5 border-l border-r border-gray-600 flex justify-start items-center gap-1.5">
                                    <img src="{% static 'property-listing/bedroom.svg' %}" alt="Bedroom" class="w-5 h-5">
                                    <div class="justify-start text-gray-600 text-xs font-normal font-['IBM_Plex_Sans_Thai']">4 ห้องนอน</div>
                                </div>
                                <div class="px-2.5 flex justify-start items-center gap-1.5">
                                    <img src="{% static 'property-listing/bathroom.svg' %}" alt="Bath" class="w-5 h-5">
                                    <div class="justify-start text-gray-600 text-xs font-normal font-['IBM_Plex_Sans_Thai']">5 ห้องน้ำ</div>
                                </div>
                            </div>
                            <div class="inline-flex flex-wrap justify-start items-center gap-2">

                                {% for tag in '01235678' %}
                                <div class="px-2 py-0.5 bg-stone-50 rounded-md outline outline-1 outline-offset-[-1px] outline-slate-300 flex justify-center items-center gap-1.5">
                                    <div class="justify-start text-gray-600 text-xs font-normal font-['IBM_Plex_Sans_Thai']">แท็ก</div>
                                </div>
                                {% endfor %}

                            </div>
                        </div>
                        <div class="self-stretch inline-flex justify-start items-center gap-2">
                            <div class="flex-1 justify-start text-[#2DAB6F] text-3xl font-bold font-['IBM_Plex_Sans_Thai']">
                                8,900,000
                            </div>
                            <div class="justify-start text-[#2DAB6F] text-3xl font-bold font-['IBM_Plex_Sans_Thai']">บาท</div>
                        </div>
                    </div>
                </div>
                <div class="self-stretch pl-5 py-2.5 border-b border-slate-300 flex flex-col justify-start items-start">
                    <div class="self-stretch justify-start text-gray-600 text-base font-bold font-['IBM_Plex_Sans_Thai']">ราคาต่อตารางวา</div>
                    <div class="self-stretch justify-start text-gray-600 text-base font-normal font-['IBM_Plex_Sans_Thai']">
                        <span>240,000</span>
                        <span>บาท/ตารางวา</span>
                    </div>
                </div>
                <div class="self-stretch pl-5 py-2.5 border-b border-slate-300 flex flex-col justify-start items-start">
                    <div class="self-stretch justify-start text-gray-600 text-base font-bold font-['IBM_Plex_Sans_Thai']">สภาพบ้าน</div>
                    <div class="self-stretch justify-start text-gray-600 text-base font-normal font-['IBM_Plex_Sans_Thai']">มือหนึ่ง</div>
                </div>
            </div>
            <button class="self-stretch p-2.5 bg-blue-700 rounded-md inline-flex justify-center items-center gap-2 hover:bg-blue-800 focus:ring-2 focus:ring-blue-500 focus:outline-none">
                <div class="justify-start text-stone-50 text-base font-normal font-['IBM_Plex_Sans_Thai']">เปลี่ยนตัวเปรียบเทียบหลัก</div>
            </button>
        </div>
    </div>
</div>

{% endblock %}