{% load static %}
{% load humanize %}

<!-- description -->
<div class="flex flex-col items-start gap-[16px] self-stretch">
    <!-- status -->
    <div class="flex items-center gap-[16px]">
        <div class="flex p-1.5 justify-center items-center gap-1.5 rounded-[10px] bg-green-300/30">
            <p class="text-[#2DAB6F] text-base font-normal leading-normal">
                {% if selling_type == "For Sell" %}
                    ขาย
                {% elif selling_type == "For Rent" %}
                    เช่า
                {% endif %}
            </p>
        </div>
    </div>
    <!-- Title -->
    <div class="self-stretch inline-flex justify-start items-start gap-4">
        <div class="flex-1 justify-start text-slate-600 text-3xl font-bold font-['IBM_Plex_Sans_Thai']">
            {{ property.title }}
        </div>
        <button onclick="toggleBookmark(this)" class="relative p-2 rounded-full transition-transform duration-200 hover:scale-110 focus:outline-none">
            <span class="absolute inset-0 rounded-full bg-blue-200 opacity-0 scale-50 transition-all duration-300 ease-out group-hover:opacity-20"></span>
            <img id="bookmark-icon" src="{% static 'property-detail/bookmark.svg' %}" alt="Bookmark" 
                 class="w-15 h-15 relative z-10">
        </button>
    </div>
    <!-- Location pin -->
    <div class="flex p-2 px-3 justify-center items-center gap-1.5 rounded-md bg-[#2162D0]">
        <div class="flex items-center gap-2">
            <div class="h-[14px] w-[13px]">
                <img id="bookmark-icon" src="{% static 'property-detail/location_pin.svg' %}" alt="Bookmark">
            </div>
            <div class="text-[#FAF9F6] font-bold text-[16px]">
                {{ property.location }}
            </div>
        </div>
    </div>
    <!-- Price -->
    <div class="flex flex-col items-start gap-[-10px] self-stretch">
        <div class="text-[#575B6F] font-bold text-[16px] self-stretch">
            ราคา
        </div>
        <div class="text-[#2DAB6F] font-bold text-[48px] self-stretch uppercase">{{ property.price|intcomma }}
            บาท
        </div>
    </div>
    <!-- Features -->
    <div class="flex items-start gap-[16px] self-stretch">
        <div class="flex p-2.5 flex-col justify-center items-center gap-1.5 flex-1 self-stretch rounded-md border border-[#D0D9EF] bg-[#FAF9F6]">
            <div class="flex items-center gap-[8px]">
                <div class="h-[20px] w-[20px]">
                    <img id="area" src="{% static 'property-detail/area.svg' %}" alt="Area">
                </div>
                <div class="text-[#444F85] font-bold text-[22px]">
                    พื้นที่ใช้สอย
                </div>
            </div>
            <div class="text-center text-[#575B6F] font-medium text-[22px]">{{ property.area }}ตร.ว.</div>
            <div class="text-center text-[#575B6F] font-normal text-[16px]">
                ({{ property.price_per_area|floatformat:2|intcomma }} บาท/ตร.ว)
            </div>
        </div>
        <div class="flex p-2.5 flex-col justify-center items-center gap-1.5 flex-1 self-stretch rounded-md border border-[#D0D9EF] bg-[#FAF9F6]">
            <div class="flex items-center gap-[8px]">
                <div class="h-[20px] w-[24px]">
                    <img id="floor" src="{% static 'property-detail/floor.svg' %}" alt="Floor">
                </div>
                <div class="text-[#444F85] font-bold text-[22px]">
                    จำนวนชั้น
                </div>
            </div>
            <div class="text-center text-[#575B6F] font-medium text-[22px]">
                {{ property.floors }} ชั้น
            </div>
        </div>
        <div class="flex p-2.5 flex-col justify-center items-center gap-1.5 flex-1 self-stretch rounded-md border border-[#D0D9EF] bg-[#FAF9F6]">
            <div class="flex items-center gap-[8px]">
                <div class="h-[20px] w-[22px]">
                    <img id="bedroom" src="{% static 'property-detail/bedroom.svg' %}" alt="Bedroom">
                </div>
                <div class="text-[#444F85] font-bold text-[22px]">
                    ห้องนอน
                </div>
            </div>
            <div class="text-center text-[#575B6F] font-medium text-[22px]">
                {{ property.bedrooms }} ห้องนอน
            </div>
        </div>
        <div class="flex p-2.5 flex-col justify-center items-center gap-1.5 flex-1 self-stretch rounded-md border border-[#D0D9EF] bg-[#FAF9F6]">
            <div class="flex items-center gap-[8px]">
                <div class="h-[24px] w-[17px]">
                    <img id="bathroom" src="{% static 'property-detail/bathroom.svg' %}" alt="Bathroom">    
                </div>
                <div class="text-[#444F85] font-bold text-[22px]">
                    ห้องน้ำ
                </div>
            </div>
            <div class="text-center text-[#575B6F] font-medium text-[22px]">
                {{ property.bathrooms }} ห้องน้ำ
            </div>
        </div>
        <div class="flex p-2.5 flex-col justify-center items-center gap-1.5 flex-1 self-stretch rounded-md border border-[#D0D9EF] bg-[#FAF9F6]">
            <div class="flex items-center gap-[8px]">
                <div class="h-[18px] w-[20px]">
                    <img id="garage" src="{% static 'property-detail/garage.svg' %}" alt="Garage">  
                </div>
                <div class="text-[#444F85] font-bold text-[22px]">
                    ที่จอดรถ
                </div>
            </div>
            <div class="text-center text-[#575B6F] font-medium text-[22px]">
                {{ property.garages }} คัน
            </div>
        </div>
        <div class="flex p-2.5 flex-col justify-center items-center gap-1.5 flex-1 self-stretch rounded-md border border-[#D0D9EF] bg-[#FAF9F6]">
            <div class="flex items-center gap-[8px]">
                <div class="h-[18px] w-[18px]">
                    <img id="year" src="{% static 'property-detail/year.svg' %}" alt="Year">    
                </div>
                <div class="text-[#444F85] font-bold text-[22px]">
                    ปีที่สร้างเสร็จ
                </div>
            </div>
            <div class="text-center text-[#575B6F] font-medium text-[22px]">
                2020
            </div>
        </div>
    </div>
</div>