<!-- Tabs Content for 'Messages' -->
<div class="tab-content hidden flex flex-col items-start gap-[16px] self-stretch"
     data-tab-content="messages">
    <!-- Content -->
    <div class="flex items-center gap-[10px] self-stretch px-[20px] pb-[20px]">
        <div class="w-[483px] text-[#575B6F] font-normal text-[16px]">
            <p><strong>บ้านเดี่ยว ปลูกเอง ทำเลดี สวยมาก พร้อมตกแต่ง</strong></p>
            <ul>
                <li>3 นอน 4 น้ำ</li>
                <li>1 ห้องแม่บ้าน</li>
                <li>เรือนเล็ก มี 1 shower, 1 toilet</li>
            </ul>
            <p><strong>ขนาดเนื้อที่</strong>: 459 ตารางวา</p>
            <p><strong>ราคาขาย</strong>: 39,900,000 ล้านบาท (ราคาต่อรองได้)</p>
            <p><strong>ค่าโอน</strong>: 50 : 50</p>
            <br>
            <p><strong>สนใจติดต่อ</strong></p>
            <p>📞 <strong>Tel</strong>: <a class="text-[#2162D0] underline" href="#">คลิกเพื่อดูเบอร์โทรติดต่อ</a>
            </p>
            <p>📩 <strong>LineID</strong>: @Livablehome (Please fill @)</p>
            <br>
            <p><em>*รบกวนแคปหน้าจอหรือส่ง link คอนโดที่สนใจ ส่งทางไลน์ได้เลยครับ*</em></p>
        </div>
    </div>
</div>