{% load static %}

<div class="p-2.5 pb-20 justify-start items-center gap-4 inline-flex">
            <div class="justify-start items-center gap-2 flex">
                <img src="{% static 'property-listing/double-arrow-left.svg' %}" alt="DoubleArrow">
                <img src="{% static 'property-listing/single-arrow-left.svg' %}" alt="Arrow">
                <div class="w-10 h-10 bg-[#2162d0] rounded-[50px] flex-col justify-center items-center gap-1.5 inline-flex">
                    <div class="self-stretch text-center text-[#faf9f6] text-base font-normal font-['IBM Plex Sans Thai']">1</div>
                </div>
                <div class="w-10 h-10 rounded-[50px] flex-col justify-center items-center gap-1.5 inline-flex">
                    <div class="self-stretch text-center text-[#444f85] text-base font-normal font-['IBM Plex Sans Thai']">2</div>
                </div>
                <div class="w-10 h-10 rounded-[50px] flex-col justify-center items-center gap-1.5 inline-flex">
                    <div class="self-stretch text-center text-[#444f85] text-base font-normal font-['IBM Plex Sans Thai']">3</div>
                </div>
                <div class="w-10 h-10 rounded-[50px] flex-col justify-center items-center gap-1.5 inline-flex">
                    <div class="self-stretch text-center text-[#444f85] text-base font-normal font-['IBM Plex Sans Thai']">4</div>
                </div>
                <div class="w-10 h-10 rounded-[50px] flex-col justify-center items-center gap-1.5 inline-flex">
                    <div class="self-stretch text-center text-[#444f85] text-base font-normal font-['IBM Plex Sans Thai']">5</div>
                </div>
                <div class="w-10 h-10 rounded-[50px] flex-col justify-center items-center gap-1.5 inline-flex">
                    <div class="self-stretch text-center text-[#444f85] text-base font-normal font-['IBM Plex Sans Thai']">...</div>
                </div>
                <div class="w-10 h-10 rounded-[50px] flex-col justify-center items-center gap-1.5 inline-flex">
                    <div class="self-stretch text-center text-[#444f85] text-base font-normal font-['IBM Plex Sans Thai']">100</div>
                </div>
                <img src="{% static 'property-listing/double-arrow-right.svg' %}" alt="DoubleArrow">
                <img src="{% static 'property-listing/single-arrow-right.svg' %}" alt="Arrow">
            </div>
            <div class="pl-5 border-l border-[#d0d8ef] justify-start items-center gap-[5px] flex">
                <div class="h-[46px] p-2.5 bg-[#faf9f6] rounded-[10px] border border-[#a6abc6] justify-start items-center gap-2.5 flex">
                    <div class="text-[#a6abc6] text-base font-normal font-['IBM Plex Sans Thai']"></div>
                </div>
                <button class="justify-start items-center flex">
                    <div class="text-center text-[#444f85] text-base font-normal font-['IBM Plex Sans Thai']">Go</div>
                    <img src="{% static 'property-listing/go-arrow.svg' %}" alt="Arrow">
                </button>
            </div>
        </div>